@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');

$primary-font: 'Open Sans Condensed', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$title-font: 'UnifrakturCook', cursive;
$icons: 'Material Icons';


$background-color: #f1f1f1;